/* svg micro- animation code for twittrer */

.twitter-icon {
  width: 55px;
  margin-left: 12px;
  background-color: white;
  border-radius: 50px;
  border-width: 9px;
  border-color: white;
}

.twitter-icon:hover #wing1 {
  transform-origin: center;
  animation: flap 0.4s ease-out infinite alternate;
}

.twitter-icon:hover #wing2 {
  transform-origin: center;
  animation: flap 0.4s ease-in infinite alternate;
}

@keyframes flap {
  50% {
    transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
  }
}

.github-icon {
  width: 55px;
  fill: #000000;
  background-color: white;
  border-radius: 90px;
  border-width: 7px;
  border-color: white;
}

.github-icon:hover #arm {
  transform-origin: bottom right;
  animation: moveArm 1s infinite alternate;
}

@keyframes moveArm {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.discord-icon {
  width: 55px;
  fill: #000000;
  background-color: white;
  border-radius: 35px;
  border-width: 13px;
  border-color: white;
  margin-left: 1rem;
}

.email-icon {
  width: 55px;
  fill: #000000;
  background-color: white;
  border-radius: 35px;
  border-width: 7px;
  border-color: white;
  margin-left: 1rem;
}